<script id='MobileSalesforce'>
    <div class="coveo-salesforce-result-mobile">
      <div class="coveo-icon objecttype <%-raw.objecttype%>"></div>
      <span class="CoveoFieldValue coveo-badge" data-field="@objecttype"></span>
      <div class="coveo-date">
          <%-date(raw.sysdate, {predefinedFormat: "MMM d"})%>
      </div>

      <div class="coveo-title">
        <a class="CoveoResultLink" target="_blank"><%=title?highlight(title, titleHighlights):clickUri%></a>
      </div>

      <table class="CoveoFieldTable">
        <tr data-field="@sfaccountname" data-caption="Account" />
        <tr data-field="@sfownername" data-caption="Owner" />
        <tr data-field="@sfopportunityamountconverted" data-caption="Total" data-helper="currency" />
        <tr data-field="@sfopportunitylicensingstotalcconverted" data-caption="License" data-helper="currency" />
        <tr data-field="@sfopportunityamountsupportcconverted" data-caption="Support" data-helper="currency" />
        <tr data-field="@sfopportunityconsultingstotalcconverted" data-caption="PS" data-helper="currency" />
        <tr data-field="@sfopportunitystagename" data-caption="Stage" />
        <tr data-field="@sfopportunitydealtypec" data-caption="Deal Type" />
        <tr data-field="@sfopportunitycompetitionc" data-caption="Competition" data-split-values="true" />
        <tr data-field="@sfibdusername" data-caption="ISR" />
        <tr data-field="@sfopportunityregionc" data-caption="Region" />
        <tr data-field="@sfleadsource" data-caption="Lead Source" />
        <tr data-field="@sfleadstatus" data-caption="Lead status" />
        <tr data-field="@sysworktitle" data-caption="Work title" />
        <tr data-field="@sfemail" data-caption="Email" data-helper='email' data-html-value="true" />
        <tr data-field="@sfcontactphone" data-caption="Phone" />
      </table>
    </div>
</script>

<script id="MobileQuickViewSalesforce">
    <div class='CoveoQuickView' data-title="<span class='coveo-icon objecttype <%-raw.objecttype%>'></span><%= Title %>" data-template-id="MobileQuickViewSalesforceContent">
    </div>
</script>

<script id="MobileQuickViewSalesforceContent">
    <div class='coveo-quick-view-header'>
      <table class='CoveoFieldTable'>
        <tr data-field='@sysdate' data-caption='Date' data-helper='dateTime' />
        <tr data-field='@objecttype' data-caption='Type' />
        <tr data-field="@sfopportunityamountconverted" data-caption="Total" data-helper="currency" />
      </table>
    </div>
    <div class='CoveoQuickViewDocument'></div>
</script>