/* glue: 0.3 hash: ae6b680a7f */
.coveo-sprites-common-coveo-cloud,
.coveo-sprites-common-logo_light_large,
.coveo-sprites-quickView-coveo_colorbox_border1,
.coveo-sprites-common-coveo,
.coveo-sprites-common-poweredbycoveo,
.coveo-sprites-common-logo_light,
.coveo-sprites-quickView-coveo_colorbox_border2,
.coveo-sprites-preferencesPanel-toggle_on,
.coveo-sprites-preferencesPanel-toggle_off,
.coveo-sprites-common-checkbox_inactive,
.coveo-sprites-common-checkbox:active,
.coveo-sprites-common-login_user,
.coveo-sprites-common-lock,
.coveo-sprites-facet-openinterfaces,
.coveo-sprites-facet-openfacets,
.coveo-sprites-searchButton-searchbutton,
.coveo-sprites-common-thumbup_inactive,
.coveo-sprites-common-thumbup:active,
.coveo-sprites-common-thumbdown_inactive,
.coveo-sprites-common-thumbdown:active,
.coveo-sprites-common-system,
.coveo-sprites-common-star_placeholder,
.coveo-sprites-common-star_inactive,
.coveo-sprites-common-star:active,
.coveo-sprites-common-settings,
.coveo-sprites-tabGroup-show_more,
.coveo-sprites-tab-checkmark_selected-on_dark_bg,
.coveo-sprites-searchButton-spin,
.coveo-sprites-searchButton-searchbutton_gray,
.coveo-sprites-quickView-quickview_previous,
.coveo-sprites-quickView-quickview_next,
.coveo-sprites-quickView-quickview,
.coveo-sprites-queryBox-clear,
.coveo-sprites-preferencesPanel-table-edit,
.coveo-sprites-preferencesPanel-table-delete,
.coveo-sprites-preferencesPanel-table-cancel,
.coveo-sprites-preferencesPanel-table-apply,
.coveo-sprites-preferencesPanel-menu_preferences,
.coveo-sprites-menu-menu_sortdirection,
.coveo-sprites-menu-menu_sortby,
.coveo-sprites-menu-menu_shareresult,
.coveo-sprites-menu-menu_searchin,
.coveo-sprites-menu-menu_saveoption,
.coveo-sprites-menu-menu_opencontactinfoin,
.coveo-sprites-menu-menu_avancedsearch,
.coveo-sprites-facet-spin,
.coveo-sprites-facet-show_facet,
.coveo-sprites-facet-moreoption,
.coveo-sprites-facet-modeor,
.coveo-sprites-facet-modeand,
.coveo-sprites-facet-expanded,
.coveo-sprites-facet-collapsed,
.coveo-sprites-facet-clear_facet,
.coveo-sprites-documentType-zip,
.coveo-sprites-documentType-year,
.coveo-sprites-documentType-yammer,
.coveo-sprites-documentType-xml,
.coveo-sprites-documentType-won,
.coveo-sprites-documentType-webpage,
.coveo-sprites-documentType-video,
.coveo-sprites-documentType-user,
.coveo-sprites-documentType-urgent,
.coveo-sprites-documentType-troubleshooting,
.coveo-sprites-documentType-topic,
.coveo-sprites-documentType-to,
.coveo-sprites-documentType-timeline,
.coveo-sprites-documentType-text,
.coveo-sprites-documentType-task,
.coveo-sprites-documentType-suspended,
.coveo-sprites-documentType-support,
.coveo-sprites-documentType-status,
.coveo-sprites-documentType-started,
.coveo-sprites-documentType-stage,
.coveo-sprites-documentType-spreadsheet,
.coveo-sprites-documentType-source,
.coveo-sprites-documentType-slideshow,
.coveo-sprites-documentType-setting,
.coveo-sprites-documentType-secure,
.coveo-sprites-documentType-salesforce,
.coveo-sprites-documentType-rss,
.coveo-sprites-documentType-reviewed,
.coveo-sprites-documentType-resolved,
.coveo-sprites-documentType-report,
.coveo-sprites-documentType-renewed,
.coveo-sprites-documentType-renewed-not,
.coveo-sprites-documentType-project-name,
.coveo-sprites-documentType-product,
.coveo-sprites-documentType-priority,
.coveo-sprites-documentType-poll,
.coveo-sprites-documentType-planned,
.coveo-sprites-documentType-pending,
.coveo-sprites-documentType-pdf,
.coveo-sprites-documentType-opportunity,
.coveo-sprites-documentType-open,
.coveo-sprites-documentType-note,
.coveo-sprites-documentType-not-started,
.coveo-sprites-documentType-new,
.coveo-sprites-documentType-negociation,
.coveo-sprites-documentType-need-feedback,
.coveo-sprites-documentType-music-file,
.coveo-sprites-documentType-msproject,
.coveo-sprites-documentType-minor,
.coveo-sprites-documentType-manager,
.coveo-sprites-documentType-major,
.coveo-sprites-documentType-mail,
.coveo-sprites-documentType-mail-undeliverable,
.coveo-sprites-documentType-mail-reply,
.coveo-sprites-documentType-mail-recall,
.coveo-sprites-documentType-lost,
.coveo-sprites-documentType-lithium,
.coveo-sprites-documentType-link,
.coveo-sprites-documentType-lead,
.coveo-sprites-documentType-language,
.coveo-sprites-documentType-kb,
.coveo-sprites-documentType-journal-log,
.coveo-sprites-documentType-jobtitle,
.coveo-sprites-documentType-invalid,
.coveo-sprites-documentType-intranet,
.coveo-sprites-documentType-install,
.coveo-sprites-documentType-industry,
.coveo-sprites-documentType-immediate,
.coveo-sprites-documentType-image,
.coveo-sprites-documentType-how-to,
.coveo-sprites-documentType-high,
.coveo-sprites-documentType-from,
.coveo-sprites-documentType-folder,
.coveo-sprites-documentType-fixed,
.coveo-sprites-documentType-filter,
.coveo-sprites-documentType-file,
.coveo-sprites-documentType-feature,
.coveo-sprites-documentType-faq,
.coveo-sprites-documentType-expert,
.coveo-sprites-documentType-event,
.coveo-sprites-documentType-escalated,
.coveo-sprites-documentType-draft,
.coveo-sprites-documentType-doc-user,
.coveo-sprites-documentType-doc-dev,
.coveo-sprites-documentType-docadmin,
.coveo-sprites-documentType-disqualified,
.coveo-sprites-documentType-deferred,
.coveo-sprites-documentType-default,
.coveo-sprites-documentType-database,
.coveo-sprites-documentType-crash,
.coveo-sprites-documentType-contract,
.coveo-sprites-documentType-contact,
.coveo-sprites-documentType-completed,
.coveo-sprites-documentType-competition,
.coveo-sprites-documentType-company,
.coveo-sprites-documentType-comment,
.coveo-sprites-documentType-closed,
.coveo-sprites-documentType-city,
.coveo-sprites-documentType-chatter,
.coveo-sprites-documentType-category,
.coveo-sprites-documentType-case,
.coveo-sprites-documentType-cant-reproduce,
.coveo-sprites-documentType-cancelled,
.coveo-sprites-documentType-campaign,
.coveo-sprites-documentType-bug-severity,
.coveo-sprites-documentType-blog,
.coveo-sprites-documentType-block,
.coveo-sprites-documentType-author,
.coveo-sprites-documentType-audience,
.coveo-sprites-documentType-attachment,
.coveo-sprites-documentType-approved,
.coveo-sprites-documentType-answer,
.coveo-sprites-documentType-announcement,
.coveo-sprites-documentType-all-content,
.coveo-sprites-documentType-advanced-content,
.coveo-sprites-documentType-account,
.coveo-sprites-documentType-account-salesforce,
.coveo-sprites-common-menu_shareresult,
.coveo-sprites-common-menu_reauthenticate,
.coveo-sprites-common-delete,
.coveo-sprites-common-datepicker,
.coveo-sprites-common-copy,
.coveo-sprites-common-clear,
.coveo-sprites-common-amount,
.coveo-sprites-facet-arrow_back,
.coveo-sprites-quickView-close,
.coveo-sprites-facet-clear_facet_state,
.coveo-sprites-facet-resume_selected,
.coveo-sprites-facet-resume_disable,
.coveo-sprites-facet-disable,
.coveo-sprites-facet-clear_facetsearch_mobile,
.coveo-sprites-facet-clear_activefilter,
.coveo-sprites-facet-child_selected,
.coveo-sprites-facet-checkmark_unselected,
.coveo-sprites-facet-checkmark_selected,
.coveo-sprites-facet-checkmark_disabled,
.coveo-sprites-common-tagging_tag,
.coveo-sprites-common-clear-mobile,
.coveo-sprites-pager-previous,
.coveo-sprites-pager-next,
.coveo-sprites-folding-showmore,
.coveo-sprites-folding-showless,
.coveo-sprites-facet-spin_facet_search,
.coveo-sprites-facet-facetsearch,
.coveo-sprites-facet-clear_facetsearch,
.coveo-sprites-common-tagging_ok,
.coveo-sprites-common-tagging-cancel_delete,
.coveo-sprites-common-tagging-cancel_clear,
.coveo-sprites-folding-email_sendto,
.coveo-sprites-facet-showmore,
.coveo-sprites-facet-showless,
.coveo-sprites-facet-email_sendto,
.coveo-sprites-common-small_x,
.coveo-sprites-sort-sortby_top,
.coveo-sprites-sort-sortby_bottom{background-image:url('../image/sprites.png');@include inline-block;background-repeat:no-repeat;overflow:hidden;}
.coveo-sprites-common-coveo-cloud{background-position:0px 0px;width:131px;height:48px;text-indent:131px;}
.coveo-sprites-common-logo_light_large{background-position:0px -48px;width:110px;height:37px;text-indent:110px;}
.coveo-sprites-quickView-coveo_colorbox_border1{background-position:0px -85px;width:50px;height:98px;text-indent:50px;}
.coveo-sprites-common-coveo{background-position:-131px 0px;width:97px;height:34px;text-indent:97px;}
.coveo-sprites-common-poweredbycoveo{background-position:-131px -34px;width:90px;height:32px;text-indent:90px;}
.coveo-sprites-common-logo_light{background-position:-131px -66px;width:71px;height:26px;text-indent:71px;}
.coveo-sprites-quickView-coveo_colorbox_border2{background-position:-131px -92px;width:50px;height:1px;text-indent:50px;}
.coveo-sprites-preferencesPanel-toggle_on{background-position:-131px -93px;width:42px;height:20px;text-indent:42px;}
.coveo-sprites-preferencesPanel-toggle_off{background-position:-173px -93px;width:42px;height:20px;text-indent:42px;}
.coveo-sprites-common-checkbox_inactive{background-position:-131px -113px;width:42px;height:20px;text-indent:42px;}
.coveo-sprites-common-checkbox:active{background-position:-173px -113px;width:42px;height:20px;text-indent:42px;}
.coveo-sprites-common-login_user{background-position:-202px -66px;width:24px;height:24px;text-indent:24px;}
.coveo-sprites-common-lock{background-position:-131px -133px;width:24px;height:24px;text-indent:24px;}
.coveo-sprites-facet-openinterfaces{background-position:-155px -133px;width:23px;height:16px;text-indent:23px;}
.coveo-sprites-facet-openfacets{background-position:-178px -133px;width:23px;height:16px;text-indent:23px;}
.coveo-sprites-searchButton-searchbutton{background-position:-131px -157px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-thumbup_inactive{background-position:-149px -157px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-thumbup:active{background-position:-167px -157px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-thumbdown_inactive{background-position:-185px -157px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-thumbdown:active{background-position:-203px -157px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-system{background-position:-110px -48px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-star_placeholder{background-position:-110px -66px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-star_inactive{background-position:-50px -85px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-star:active{background-position:-68px -85px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-settings{background-position:-86px -85px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-tabGroup-show_more{background-position:-201px -133px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-tab-checkmark_selected-on_dark_bg{background-position:-104px -85px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-searchButton-spin{background-position:-50px -103px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-searchButton-searchbutton_gray{background-position:-66px -103px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-quickView-quickview_previous{background-position:-82px -103px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-quickView-quickview_next{background-position:-98px -103px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-quickView-quickview{background-position:-114px -103px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-queryBox-clear{background-position:-50px -119px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-preferencesPanel-table-edit{background-position:-66px -119px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-preferencesPanel-table-delete{background-position:-82px -119px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-preferencesPanel-table-cancel{background-position:-98px -119px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-preferencesPanel-table-apply{background-position:-114px -119px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-preferencesPanel-menu_preferences{background-position:-50px -135px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_sortdirection{background-position:-66px -135px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_sortby{background-position:-82px -135px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_shareresult{background-position:-98px -135px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_searchin{background-position:-114px -135px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_saveoption{background-position:-50px -151px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_opencontactinfoin{background-position:-66px -151px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_avancedsearch{background-position:-82px -151px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-spin{background-position:-98px -151px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-show_facet{background-position:-114px -151px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-moreoption{background-position:-50px -167px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-modeor{background-position:-66px -167px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-modeand{background-position:-82px -167px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-expanded{background-position:-98px -167px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-collapsed{background-position:-114px -167px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-clear_facet{background-position:0px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-zip{background-position:-16px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-year{background-position:-32px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-yammer{background-position:-48px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-xml{background-position:-64px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-won{background-position:-80px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-webpage{background-position:-96px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-video{background-position:-112px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-user{background-position:-128px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-urgent{background-position:-144px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-troubleshooting{background-position:-160px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-topic{background-position:-176px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-to{background-position:-192px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-timeline{background-position:-208px -183px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-text{background-position:0px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-task{background-position:-16px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-suspended{background-position:-32px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-support{background-position:-48px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-status{background-position:-64px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-started{background-position:-80px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-stage{background-position:-96px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-spreadsheet{background-position:-112px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-source{background-position:-128px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-slideshow{background-position:-144px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-setting{background-position:-160px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-secure{background-position:-176px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-salesforce{background-position:-192px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-rss{background-position:-208px -199px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-reviewed{background-position:-228px 0px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-resolved{background-position:-228px -16px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-report{background-position:-228px -32px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-renewed{background-position:-228px -48px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-renewed-not{background-position:-228px -64px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-project-name{background-position:-228px -80px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-product{background-position:-228px -96px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-priority{background-position:-228px -112px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-poll{background-position:-228px -128px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-planned{background-position:-228px -144px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-pending{background-position:-228px -160px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-pdf{background-position:-228px -176px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-opportunity{background-position:-228px -192px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-open{background-position:0px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-note{background-position:-16px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-not-started{background-position:-32px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-new{background-position:-48px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-negociation{background-position:-64px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-need-feedback{background-position:-80px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-music-file{background-position:-96px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-msproject{background-position:-112px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-minor{background-position:-128px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-manager{background-position:-144px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-major{background-position:-160px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-mail{background-position:-176px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-mail-undeliverable{background-position:-192px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-mail-reply{background-position:-208px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-mail-recall{background-position:-224px -215px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-lost{background-position:-244px 0px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-lithium{background-position:-244px -16px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-link{background-position:-244px -32px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-lead{background-position:-244px -48px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-language{background-position:-244px -64px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-kb{background-position:-244px -80px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-journal-log{background-position:-244px -96px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-jobtitle{background-position:-244px -112px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-invalid{background-position:-244px -128px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-intranet{background-position:-244px -144px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-install{background-position:-244px -160px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-industry{background-position:-244px -176px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-immediate{background-position:-244px -192px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-image{background-position:-244px -208px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-how-to{background-position:0px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-high{background-position:-16px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-from{background-position:-32px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-folder{background-position:-48px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-fixed{background-position:-64px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-filter{background-position:-80px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-file{background-position:-96px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-feature{background-position:-112px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-faq{background-position:-128px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-expert{background-position:-144px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-event{background-position:-160px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-escalated{background-position:-176px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-draft{background-position:-192px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-doc-user{background-position:-208px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-doc-dev{background-position:-224px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-docadmin{background-position:-240px -231px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-disqualified{background-position:-260px 0px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-deferred{background-position:-260px -16px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-default{background-position:-260px -32px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-database{background-position:-260px -48px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-crash{background-position:-260px -64px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-contract{background-position:-260px -80px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-contact{background-position:-260px -96px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-completed{background-position:-260px -112px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-competition{background-position:-260px -128px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-company{background-position:-260px -144px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-comment{background-position:-260px -160px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-closed{background-position:-260px -176px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-city{background-position:-260px -192px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-chatter{background-position:-260px -208px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-category{background-position:-260px -224px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-case{background-position:0px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-cant-reproduce{background-position:-16px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-cancelled{background-position:-32px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-campaign{background-position:-48px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-bug-severity{background-position:-64px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-blog{background-position:-80px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-block{background-position:-96px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-author{background-position:-112px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-audience{background-position:-128px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-attachment{background-position:-144px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-approved{background-position:-160px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-answer{background-position:-176px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-announcement{background-position:-192px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-all-content{background-position:-208px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-advanced-content{background-position:-224px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-account{background-position:-240px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-account-salesforce{background-position:-256px -247px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-menu_shareresult{background-position:-276px 0px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-menu_reauthenticate{background-position:-276px -16px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-delete{background-position:-276px -32px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-datepicker{background-position:-276px -48px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-copy{background-position:-276px -64px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-clear{background-position:-276px -80px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-amount{background-position:-276px -96px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-arrow_back{background-position:-276px -112px;width:9px;height:15px;text-indent:9px;}
.coveo-sprites-quickView-close{background-position:-276px -127px;width:14px;height:10px;text-indent:14px;}
.coveo-sprites-facet-clear_facet_state{background-position:-276px -137px;width:14px;height:14px;text-indent:14px;}
.coveo-sprites-facet-resume_selected{background-position:-276px -151px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-resume_disable{background-position:-276px -163px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-disable{background-position:-276px -175px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-clear_facetsearch_mobile{background-position:-276px -187px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-clear_activefilter{background-position:-276px -199px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-child_selected{background-position:-276px -211px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-checkmark_unselected{background-position:-276px -223px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-checkmark_selected{background-position:-276px -235px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-checkmark_disabled:hover{background-position:-276px -247px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-checkmark_disabled{background-position:-215px -93px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-common-tagging_tag{background-position:-215px -113px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-common-clear-mobile{background-position:0px -263px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-pager-previous{background-position:-217px -133px;width:11px;height:11px;text-indent:11px;}
.coveo-sprites-pager-next{background-position:-120px -85px;width:11px;height:11px;text-indent:11px;}
.coveo-sprites-folding-showmore{background-position:-12px -263px;width:11px;height:11px;text-indent:11px;}
.coveo-sprites-folding-showless{background-position:-23px -263px;width:11px;height:11px;text-indent:11px;}
.coveo-sprites-facet-spin_facet_search{background-position:-34px -263px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-facet-facetsearch{background-position:-44px -263px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-facet-clear_facetsearch{background-position:-54px -263px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-common-tagging_ok{background-position:-64px -263px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-common-tagging-cancel_delete{background-position:-74px -263px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-common-tagging-cancel_clear{background-position:-84px -263px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-folding-email_sendto{background-position:-215px -105px;width:8px;height:8px;text-indent:8px;}
.coveo-sprites-facet-showmore{background-position:-215px -125px;width:8px;height:8px;text-indent:8px;}
.coveo-sprites-facet-showless{background-position:-155px -149px;width:8px;height:8px;text-indent:8px;}
.coveo-sprites-facet-email_sendto{background-position:-163px -149px;width:8px;height:8px;text-indent:8px;}
.coveo-sprites-common-small_x{background-position:-171px -149px;width:8px;height:8px;text-indent:8px;}
.coveo-sprites-sort-sortby_top{background-position:-285px -112px;width:6px;height:6px;text-indent:6px;}
.coveo-sprites-sort-sortby_bottom{background-position:-285px -118px;width:6px;height:6px;text-indent:6px;}
